{% extends 'myapp/header_footer.html' %}
      

{% block content %}
   {% load static %}
   <link href="{% static 'stylesheets/Transaction_style.css' %}" rel='stylesheet'>

<br/>

<!--Transaction Table-->
<div class="container-fluid" style="background-color: white;;">
	<table class="table table-bordered table-hover table-responsive-xs">
	  <thead class="thead-dark">
	    <tr>
        <th scope="col">Account Number</th>
	      <th scope="col">Type</th>
        <th scope="col">Account Balance</th>
	    </tr>
	  </thead>
	  <tbody>
		  {% for i in accinfo %}
	    <tr>
	      <td>{{i.acc_no}}</td>
	      <td>{{i.acc_type}}</td>
        <td>{{i.acc_balance}}</td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
</div>

{% endblock %}