{% extends 'myapp/header_footer.html' %}
{% block content %}
   {% load static %}
      <link rel="stylesheet" href="{% static 'stylesheets/Account_style.css' %}">
    <!-- <link href='Account_style.css' rel='stylesheet'> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   



<nav class="navbar navbar-expand-sm" style="background-color: rgb(35, 50, 77); /* For browsers that do not support gradients */
background-image: linear-gradient(to bottom right, rgb(36, 134, 247), rgb(38, 50, 66)); /* Standard syntax (must be last) */">
  <h3 style="font-size: 150%; color: white;">My Accounts: </h3><br/>
  <h3 style="font-size: 150%; color: rgba(255, 255, 255, 0);">.</h3><br/>
  <h3 style="font-size: 150%; color: white;">3</h3><br/>
  <h3 style="font-size: 150%; color: rgba(255, 255, 255, 0);">.....</h3><br/>
  <form class="form-inline my-2 my-lg-0">
    <a href="AccInfo.html" class="btn btn-outline-success my-2 my-sm-0" type="submit">View</a>
  </form>
</nav>



<!--Cards 1-->

<div class="container-fluid" style="background-color: rgb(38, 50, 66);"> 
  <br>
  <div class="container" style="background-color: rgb(38, 50, 66);"> 
  <div class="container" id="Services"> 
  
    <div class="row">
  
        <div class="col-md-3 col-xs-6">  
          <div class="card text-white bg-primary mb-3">
            <div class="card-header" style="text-align: center;">Balance:</div>
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">12345678</h5>
            </div>
          </div>
            <div class="col-xs"><br></div>
          </div>
  
          <div class="col-md-3 col-xs-6">  
            <div class="card text-white bg-success mb-3">
              <div class="card-header" style="text-align: center;">Transaction:</div>
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">+5000</h5>
              </div>
            </div>
          <div class="col-xs"><br></div>
        </div>
  
        <div class="col-md-3 col-xs-6">  
          <div class="card text-white bg-danger mb-3">
            <div class="card-header" style="text-align: center;">Maturities:</div>
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">2 this year</h5>
            </div>
          </div>
          <div class="col-xs"><br></div>
        </div>
        
        <div class="col-md-3 col-xs-6">
          <div class="card text-white bg-warning mb-3">
            <div class="card-header" style="text-align: center;">EMIs:</div>
            <div class="card-body">
              <h5 class="card-title"  style="text-align: center;">2 Pending</h5>
            </div>
          </div>
        </div>
  
  </div>
  </div>
  </div>
  </div>
  


<!--Carousel-->
 
  <div class="container-fluid" id="Services" style="background-color: rgba(255,255,255,0.8);"> 
<br> 
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
      
        <div class="carousel-item active">
  <a href="/atmfinder">  
    
    
    <img src='{% static "img/calc.jpg" %}' class="d-block w-100" alt="..." id="ATM" >

          
    <!-- <img src="img/calc.jpg" class="d-block w-100" alt="..." id="ATM"> -->
  </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>ATM Locatorl</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>

  <div class="carousel-item">
  <a href="/Chatbot">
    
          <img src='{% static "img/rupee.jpg" %}' class="d-block w-100" alt="..." id="Chatbot" >

    
          <!-- <img src="img/rupee.jpg"class="d-block w-100" alt="..." id="Chatbot"> -->
  </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Chatbot</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>

        <div class="carousel-item">
  <a href="/atmfinder">
          <img src='{% static "img/homeloan.jpg" %}' class="d-block w-100" alt="..." id="Branch" >

          <!-- <img src="img/homeloan.jpg" class="d-block w-100" alt="..." id="Branch"> -->
  </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Branch Locator</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
<br/>
  </div>
  


<!--Cards 2-->

<div class="container-fluid" style="background-color: rgb(68, 71, 77);"> 
<br>
<div class="container" style="background-color: rgb(68, 71, 77);"> 
<div class="container" id="Services"> 

  <div class="row">

      <div class="col-md-4">  
         <div class="card">
    <div class="card-body">
      <h5 class="card-title">My Cards</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text"></p>
      <a href="/cards" class="btn btn-primary">View</a>
    </div>
  </div>
          <div class="col-xs"><br></div>
        </div>

        <div class="col-md-4">  
        <div class="card">
    <div class="card-body">
      <h5 class="card-title">My transactions</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text"></p>
      <a href="/transaction" class="btn btn-primary">View</a>
    </div>
  </div>
        <div class="col-xs"><br></div>
      </div>

      <div class="col-md-4">  
        <div class="card">
    <div class="card-body">
      <h5 class="card-title">My EMIs/Loans</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card Subtitle</h6>
      <p class="card-text"></p>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
        <div class="col-xs"><br></div>
      </div>
      

</div>
</div>
</div>
</div>
<!--Cards 3-->


{% endblock %}