{% extends 'myapp/header_footer.html' %}
{% block content %}
   {% load static %}
<br>
    <div class="col-md-6 col-lg-4" style="float: right;">      
        <iframe 
            allow="microphone;"
            width="100%"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/b684caf9-9fcc-4da7-b036-8ae8c0c8b0ed">
                
        </iframe>
      
    </div>

<!--Jumbotron-->
<div class="jumbotron" style="background: none;">
        <h2 class="display-4" style="color: white; width: 60%">ChatBot at your Help</h2>
        <p class="lead" style="width: 45%">Always there for you when you need help. It can resolve your doubt and that too for free. Used around the clock and trusted by 500,000 people.
        </p>
</div>
<br>
<br>
<br>
<br>
<br>

{% endblock %}