{% extends 'myapp/header_footer.html' %}
{% block content %}
   {% load static %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link href="{% static 'stylesheets/Checking_style.css' %}" rel='stylesheet'>
     

<br/>

<div class="col-xs-12" style="padding: 2%;">
  <h1>Checking</h1>
  <p style="color: black;">The NVB Care-free prepaid card account offers the simplicity of a prepaid card with the benefits of a banking relationship. There is no activation fee or balance requirements—and there are no overdraft fees. It really is a care-free solution.</p>
</div>

<br/>

<div class="col-xs-12" style="padding: 2%;">
    <h1>Advantages</h1>
    <ul style="color: black;">
        <li>No overdraft fees</li>
        <li>Online Statements</li>
        <li>Online and Mobile Access</li>
        <li>Online Bill Pay</li>
        <li>FDIC Insured</li>
    </ul>
</div>

<br/>

<div class="col-xs-12" style="padding: 2%;">
    <h1>Use It</h1>
    <ul style="color: black;">
        <li>Make Purchases Online</li>
        <li>Get cash back at any ATM</li>
        <li>Schedule Online Payment</li>
        <li>FDIC Insured</li>
    </ul>
</div>

<br/>

<div class="col-xs-12" style="padding: 2%;">
        <h1>What You Need to Know</h1>
        <p style="color: black;">Minors age 12 to 17 may have a Care-free card account with an adult co-owner. Open with $5. Paper statements are available for a Rs.100 monthly fee. A Rs.5000 monthly service charge will apply after 90 consecutive days of inactivity.</p>
      </div>

{% endblock %}