{% extends 'myapp/header_footer.html' %}
      

{% block content %}
   {% load static %}
   <link href="{% static 'stylesheets/History_style.css' %}" rel='stylesheet'>

<div class="col-xs-12" style="padding: 2%;">
  <h1>Historical Highlights</h1>
  <ul style="color: black;">
        <li>1873 — Just three years after the end of the Civil War, George S. Baker opens the first bank in Maryville, Missouri on the site of the present bank at 3rd and Main Streets.</li>
        <li>1873 — James B. Prather and Theodore L. Robinson purchase the bank and re-name it Nodaway Valley Bank. A member of the Robinson family has been at the helm ever since.</li>
        <li>1890 — Original banking house is razed and replaced.</li>
        <li>1966 — Second banking house demolished and replaced.</li>
        <li>1973 — Second Maryville location opens at 1303 S. Main</li>
        <li>1989 — New facility opened in Hopkins, MO (no longer in operation)</li>
        <li>1990 — New facility opened in Savannah</li>
        <li>2003 — Acquired Heritage Bank of St. Joseph</li>
        <li>2007 — Acquired Exchange Bank of Mound City</li>
        <li>2018 — The Bank celebrates 150 years of continuous service to northwest Missouri.</li>
    </ul></div>

<br/>


{% endblock %}