{% extends 'myapp/header_footer.html' %}
{% block content %}
   {% load static %}
  <!--Jumbotron-->
  <link href="{% static 'stylesheets/Bank_style.css' %}" rel='stylesheet'>
   <div class="jumbotron" style="background: none;">
    <h1 class="display-4" style="color: white; width: 60%">150 Years of Banking</h1>
    <p class="lead" style="width: 45%">A bank with family values! The family has
    been at the helm of the Bank since the doors opened in 1868.
    </p>
    <a class="btn btn-primary btn-lg" href="/history" role="button">Learn more</a>
    <br>
    <br>
    
    <h3 style="color: white; text-align: right">Named #1 Best-in-State</h3>
    <p style="color: white; text-align: right">-July 2018</p>
    <h3 style="color: white; text-align: right">Celebrating 150 Years of Success</h3>
    <p style="color: white; text-align: right">-Nov 2018</p>
  </div> 

<!--Cards(Services)-->

<div class="container" id="Services">
  
  <div class="row">
    <div class="col-md-3">  
        <div class="card" style="margin: auto">
          <img src='{% static "img/map.jpg" %}' class="card-img-top" style="box-sizing: content-box" alt="...">
          <div class="card-body">
            <h4 class="card-title">ATM Finder</h4>
            <p class="card-text">Don't ever run out of cash.</p>
            <a href="/atm_finder" class="btn btn-primary">Search</a>
          </div>
        </div>
        <div class="col-xs"><br></div>
      </div>

      <div class="col-md-3">  
          <div class="card" style="margin: auto">
            <img src='{% static "img/payment.jpg" %}' class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h4 class="card-title">Make a Transaction</h4>
              <p class="card-text">Send money, Pay Bills.</p>
              <a href="/payment" class="btn btn-primary">Pay</a>
            </div>
          </div>
          <div class="col-xs"><br></div>
        </div>

        <div class="col-md-3">  
        <div class="card" style="margin: auto">
          <img src='{% static "img/chatbot.jpg" %}' class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h4 class="card-title">Let's Talk</h4>
            <p class="card-text">We trust Jean, so can you</p>
            <a href="/chatbot" class="btn btn-primary">Chat</a>
          </div>
        </div>
        <div class="col-xs"><br></div>
      </div>

      

      <div class="col-md-3">  
        <div class="card" style="margin: auto">
          <img src='{% static "img/map.jpg" %}' class="card-img-top" style="box-sizing: content-box" alt="...">
          <div class="card-body">
            <h4 class="card-title">Branch Locator</h4>
            <p class="card-text">Always in your vicinity.</p>
            <a href="/branch" class="btn btn-primary">Locate</a>
          </div>
        </div>
        <div class="col-xs"><br></div>
      </div>

      

</div>
</div>


<!--Carousel-->
  <div class="container-fluid" id="Services" style="background-color: rgba(255,255,255,0.8);"> 
<br> 
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
      
        <div class="carousel-item active">
  <a href="/atm_finder">  
    
    
    <img src='{% static "img/calc.jpg" %}' class="d-block w-100" alt="..." id="ATM" >

          
    <!-- <img src="img/calc.jpg" class="d-block w-100" alt="..." id="ATM"> -->
  </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>ATM Locator</h5>
            <p>Locate ATMs near and far at the click of your mouse.</p>
          </div>
        </div>

  <div class="carousel-item">
  <a href="/chatbot">
    
          <img src='{% static "img/rupee.jpg" %}' class="d-block w-100" alt="..." id="Chatbot" >

    
          <!-- <img src="img/rupee.jpg"class="d-block w-100" alt="..." id="Chatbot"> -->
  </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Chatbot</h5>
            <p>Chat with Jean, our newest member of Banque Cosmopolite.</p>
          </div>
        </div>

        <div class="carousel-item">
  <a href="/payment">
          <img src='{% static "img/homeloan.jpg" %}' class="d-block w-100" alt="..." id="Branch" >

          <!-- <img src="img/homeloan.jpg" class="d-block w-100" alt="..." id="Branch"> -->
  </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Lightning Cash Transfers</h5>
            <p>Transfer Cash instantly.</p>
          </div>
        </div>

        <div class="carousel-item">
  <a href="/branch">
    
          <img src='{% static "img/stock.jpg" %}' class="d-block w-100" alt="..." id="Chatbot" >

    
          <!-- <img src="img/rupee.jpg"class="d-block w-100" alt="..." id="Chatbot"> -->
  </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Branch Locator</h5>
            <p>Always in your vicinity.</p>
          </div>
        </div>


      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
<br/>
  </div>

<!--Cards(About)-->
 <div class="container" id="About"> 
    <div class="row">
        <div class="col-md-4">  
  
    <div class="card" style="margin: auto">
      <img src='{% static "img/help.jpg" %}' class="card-img-top" style="box-sizing: content-box" alt="...">
      <div class="card-body">
        <h4 class="card-title">Mission</h4>
        <p class="card-text">We started off to help you.</p>
        <a href="/mission" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <div class="col-xs"><br></div>
  </div>


    <div class="col-md-4">  
    <div class="card" style="margin: auto">
      <img src='{% static "img/history.jpg" %}' class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h4 class="card-title">History</h4>
        <p class="card-text">We are here since 1868 to help you.</p>
        <a href="/history" class="btn btn-primary">Know More</a>
      </div>
    </div>
    <div class="col-xs"><br></div>
  </div>

        <div class="col-md-4">  
    <div class="card" style="margin: auto">
      <img src='{% static "img/team.jpg" %}' class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Our Team</h4>
        <p class="card-text">We have an amazing team to serve you.</p>
        <a href="/team" class="btn btn-primary">Meet Our Team</a>
      </div>
    </div>
    <div class="col-xs"><br></div>
  </div>
  </div>
</div>
{% endblock %}

