{% extends 'myapp/header_footer.html' %}
      

{% block content %}
   {% load static %}
   <style type="text/css">
     label{
     color: #000000;
   }
   li{
    color: #000000;
   }
   </style>
   <link href="{% static 'stylesheets/Login_style.css' %}" rel='stylesheet'>
      <script src="{% static 'Login_script.js' %}"></script>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <h3 style="padding: 2%; color:white;">Click the Button below to Enter Login credentials and Log into Your Account Securely.</h3>

    <!-- Button to open the modal login form -->
<button onclick="document.getElementById('id01').style.display='block'" style="margin: 0% 40% 0% 38%;">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <div class="modal-content animate "  >
    <div class="imgcontainer ">
      <img src='{% static "img/account.jpg" %}' alt="Avatar" class="avatar">
    </div>

     <div class="container">
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
            <button style="background-color:#F4EB16; color:blue" type="submit">Login</button>
            <br>
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </form>
       
    </div>


    </div>
  </div>

{% endblock %}