{% extends 'myapp/header_footer.html' %}
      

{% block content %}
   {% load static %}
   <link href="{% static 'stylesheets/Transaction_style.css' %}" rel='stylesheet'>

<br/>

<!--Transaction Table-->
<div class="container-fluid" style="background-color: white;;">
	<table class="table table-bordered table-hover table-responsive-xs">
	  <thead class="thead-dark">
	    <tr>
		<th scope="col">Account Number</th>
        <th scope="col">Amount</th>
        <th scope="col">Mode</th>
        <th scope="col">Date-Time</th>
	    </tr>
	  </thead>
	  <tbody>
		  {% for transaction in transactions %}
		  <!-- {% for j in ano} -->
	    <tr>
		  <td>{{transaction.paid_from}}</td>
		  
	      <td>{{transaction.amount}}</td>
	      {% if transaction.txn_type == 'A' %}
        <td>Paid by Credit Card</td>
        {% elif transaction.txn_type == 'B' %}
        <td>Paid by Debit Card</td>
        {% else %}
        <td>Cash Transfer</td>
        {% endif %}
		<td>{{transaction.date_time}}</td>
		</tr>
		{% endfor %}
	    <!-- <tr>
		  <th scope="row">1</th>
		  <td>500000</td>
	      <td>1234</td>
        <td>Debit Card</td>
        <td>05-10-2019</td>
        <td>04:00 PM</td>
	    </tr>
	    <tr>
		  <th scope="row">1</th>
		  <td>5000</td>
	      <td>65575</td>
        <td>Challan</td>
        <td>06-10-2019</td>
        <td>11:00 AM</td>
	    </tr> -->
	  </tbody>
	</table>
</div>

{% endblock %}