{% extends 'myapp/header_footer.html' %}
      

{% block content %}
   {% load static %}
   <link href="{% static 'stylesheets/Transaction_style.css' %}" rel='stylesheet'>

<br/>

<!--Transaction Table-->
<div class="container-fluid" style="background-color: white;;">
	<table class="table table-bordered table-hover table-responsive-xs">
	  <thead class="thead-dark">
	    <tr>
		<th scope="col">#</th>
		<th scope="col">Account Number</th>
        <th scope="col">Amount</th>
        <th scope="col">Mode</th>
        <th scope="col">Date</th>
	      <th scope="col">Time</th>
	    </tr>
	  </thead>
	  <tbody>
		  {% for i in counter %}
		  <!-- {% for j in ano} -->
	    <tr>
		  <th scope="row">{{i}}</th>
		  <td>{{ano}}</td>
		  
	      <td>{{amount.i}}</td>
        <td>{{mode.i }}</td>
		<td>{{dt.i}}</td>
		</tr>
		{% endfor %}
	    <!-- <tr>
		  <th scope="row">1</th>
		  <td>500000</td>
	      <td>1234</td>
        <td>Debit Card</td>
        <td>05-10-2019</td>
        <td>04:00 PM</td>
	    </tr>
	    <tr>
		  <th scope="row">1</th>
		  <td>5000</td>
	      <td>65575</td>
        <td>Challan</td>
        <td>06-10-2019</td>
        <td>11:00 AM</td>
	    </tr> -->
	  </tbody>
	</table>
</div>

{% endblock %}